@font-face {
    font-family: "TheMetSans-LightTheMet";
    src: url("fonts/TheMetSans-LightTheMet.woff");
}

*{
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}

html {
  font-size:80%;
}

  body{
    font-family: 'Playfair Display', serif;
    margin :0;
    color : #383838;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  circle {
    cursor: pointer;
  }

  .link {
    fill:none; 
    stroke:grey; 
    stroke-width:1 
  }

  header {
    position:fixed;
    display : inline-block;
    top:0;
    left : 0;
    width: 100%;
    text-align: center;
    padding-top:3%;

  }

  #metstories {
    position: absolute;
    height : 100%;
    top : 0;
    left : 0;
    padding : 1rem;
    font-size : 2em;
  }

  #innermetstories {
    display : flex;
    align-items: center;

  }

  #metstories img{
    margin-right: 5px;
  }

  .titles {
    font-size: 0.5em;
    font-weight: 800;
  }

  #content{
    padding-top: 6em;
  }


  #explanation {
    margin-top:2em;
  }


/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display : inline-block;
  margin-left:1rem;
}

input {
  color : #383838;
  border: 1px solid transparent;
  /* background-color: #f1f1f1; */
  padding: 5px;
  font-size: 4em;
}

input[type=text] {
  text-align: left;
  color : #383838;
  padding-left:10px;
  background-color: rgba(240,240,240,0.7);
  width: 20rem;
  font-family: 'Playfair Display', serif;
}

input[type=submit] {
  font-family: 'Playfair Display', serif;
  background-color: lightgray;
  color: #fff;
  cursor: pointer;
}

/* auto complete styling*/
.autocomplete-items {
  position: absolute;
  background-color: #fff; 
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  color : #383838;
  font-size: 1.5em;

}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  /* background-color:#f1f1f1; */
  ; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #f1f1f1; 
}


#tellstory{
  font-size: 4em;
  display: inline-block;
}

#linkDesc{
  position: fixed;
  bottom : 0;
  text-align: center;
  font-size: 2em;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 2.5em;
  line-height: 2em;
  z-index: 0;

}

#linkDesc a{
text-decoration: none;
color: #383838;
font-weight: 900;
}

.xAxis path {
    stroke: #B8B8B8;
  }

#smalldot {
  height: 10px;
  width: 10px;
  background-color: #ece7f2;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #525252;
}
#mediumdot {
  height: 20px;
  width: 20px;
  background-color: #a6bddb;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #525252;
}

#largedot {
  height: 30px;
  width: 30px;
  background-color: #7fcdbb;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #525252;
}

#explanation {
  visibility: hidden;
}
#hovertitle{
    visibility: hidden;
    position: fixed;
    font-size: 1em;
    float: left;
    width: 100%;
    text-align: center;
    z-index: 99;
    margin-top:1em;

}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5em;
    background-image: linear-gradient(to left, rgb(70,70,70), rgb(100,100,100));
}

#footer a{
    color : #eee;
}
#createdBy{
    display: block;
    height:0;
    margin:0;
    line-height: 0.8em;
    text-align: right;
    color: #eee;
    font-family: "TheMetSans-LightTheMet";
    padding-right: 20px;
}

/* #intro{
  font-size: 1.5em;
  text-align: center;
  position: static;
  margin-top:1em;
  padding-top:2em;
  margin-left: 30%;
  width : 40%;
  z-index: 80;
} */

#intro{
position: fixed;
top:40%;
left:0;
width : 100%;
z-index: 80;
text-align: center;

}



@media screen and (max-width: 1600px) {
  body {
    font-size: 0.8em;
  }

}

@media screen and (max-width: 1400px) {
  body {
    font-size: 0.6em;
  }

}

@media screen and (max-width: 1200px) {
  body {
    font-size: 0.6em;
  }

  #metstories {
    position : relative;
    display : inline-block;
    padding : 0;
    margin-bottom: 1rem;
  }
  #innermetstories {
    position : relative;
  }

  #intro {
    width : 60%;
    margin-left:20%;
  }

}

@media screen and (max-width: 820px) {

  input[type=text]  {
    text-align: center;
  }

  .autocomplete {
    margin: 1rem;
  }
}


@media screen and (max-width: 700px) {
  body {
    font-size: 0.4em;
  }
}

@media screen and (max-width: 321px) {
  input[type=text] {
    width:15rem;
  }
  #tellstory{
    font-size: 3em;
  }
  .autocomplete{
    margin:0;
    margin-top:1em;
  }
  #intro{
    width:70%;
    margin-left:15%;
  }

}

.bg{
  position: fixed;
  left:0;
  top:0;
  height: 100%;
  width:100%;
  z-index: -2;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topfade{
  background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.5));
  position: absolute;
  left:0;
  top:0;
  height: 50%;
  width:100%;
  z-index: -1;
}

.bottomfade{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.7));
  position: fixed;
  left:0;
  bottom:0;
  height: 60%;
  width:100%;
  z-index: -1;
}

#fullscreen{
  display: block;
  text-align: center;
  padding-right: 50px;
  visibility: hidden;
}

