

  body{
    font-family: 'Playfair Display', serif;
    margin :0;
    color : #383838;

  }

  circle {
    cursor: pointer;
  }

  .link {
    fill:none; 
    stroke:grey; 
    stroke-width:1 
  }

  #metstories {
    position: fixed;
    float : left;
    font-size: 2em;
    color:#646464;
    margin-bottom: 20px;
    margin-top: 40px;
    padding-left: 120px;
  }

  #metstoriesimg {
    position: fixed;
    float : left;
    padding:30px;
    width: 4%;
  }

  #header {
    position:fixed;
    top:0;
    width: 100%;
    height:10%;
    text-align: center;
    padding-top:3%;
    display:inline-block;
  }

  .titles {
    font-size: 0.5em;
    font-weight: 800;
  }

  #content{
    padding-top: 15%;
    background-color: white;
  }

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline;
}

input {
  color : #383838;
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 5px;
  font-size: 4em;
}

input[type=text] {
  color : #383838;
  padding-left:10px;
  background-color: #f1f1f1;
  width: 20%;
  font-family: 'Playfair Display', serif;
}

input[type=submit] {
  font-family: 'Playfair Display', serif;
  background-color: lightgray;
  color: #fff;
  cursor: pointer;
}

/* auto complete styling*/
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  margin-top: 20px;
  top: 100%;
  left: -5;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}


#formlabel{
  display:inline-flex;
  font-size: 4em;
  text-align: left;
}

#linkDesc{
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 2em;
  padding-left: 15%;
  padding-right: 15%;
  line-height: 2em;
  overflow:scroll;
  max-height: 28%;

}


.xAxis path {
    stroke: #B8B8B8;
  }

#smalldot {
  height: 10px;
  width: 10px;
  background-color: #ece7f2;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #525252;
}
#mediumdot {
  height: 20px;
  width: 20px;
  background-color: #a6bddb;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #525252;
}

#largedot {
  height: 30px;
  width: 30px;
  background-color: #7fcdbb;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #525252;
}

#explanation {
  visibility: hidden;
}
#hovertitle{
    visibility: hidden;
    position: fixed;
    margin-top:12%;
    font-size: 1em;
    float: left;
    width: 100%;
    text-align: center;
    z-index: 99;

}